.app,
.root {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
}


body {
    overflow: hidden;
}

.loader {
    border: 8px solid #313030; /* Light grey */
    border-top: 8px solid #9ea0a0; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




@tailwind base;
@tailwind components;
@tailwind utilities;
